<footer>
  <div class="container">

    <p>&copy; 2019&emsp;Carlo Bruno&emsp;|&emsp;<em>Word Data provided by <a
          href="https://www.datamuse.com/api/">DataMuse</a></em></p>

    <nav class="footer-nav">
      <a href="https://github.com/carlo-bruno"> <i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/carlofbruno/"> <i class="fab fa-linkedin"></i></a>
      <a href="#"> <i class="fab fa-instagram"></i></a>
    </nav>

  </div>
</footer>