<section class="tools">
  <div class="rhyme-box">
    <h2><span class="cursive">Pluma</span><span class="type-font">/rhymes</span></h2>
    <form id="rhymeSearch">
      <input id="rhymeInput" type="text" placeholder="Rhymes" />
      <button class="search-btn" type="submit">Search</button>
    </form>
    <div id="rhymeResult">
      <!--  -->
    </div>
  </div>

  <div class="synonym-box">
    <h2><span class="cursive">Pluma</span><span class="type-font">/synonyms</span></h2>
    <form id="synonymSearch">
      <input id="synonymInput" type="text" placeholder="Synonyms" />
      <button class="search-btn" type="submit">Search</button>
    </form>
    <div id="synonymResult">
      <!--  -->
    </div>
  </div>
</section>

<script src="/js/app.js"></script>