* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
}

pre {
  /* font-family: "Lato", sans-serif; */
  /* font-size: 1.2rem; */
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* Forms ------------------------------------------ */
input {
  font-size: 1rem;
  padding: 0 5px;
}

/* Page Header ------------------------------------ */
header {
  color: #ffffff;
  background-color: #000000;
  width: 100vw;
}

.page-header {
  width: 90%;
  max-width: 1170px;
  height: 5rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
}
.page-header .img-box {
  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-image: url("/img/feather-logo.jpg");
  background-position-x: 56%;
  background-position-y: 46%;
  background-size: 130px;

  margin-right: 12px;
  transform: rotate(-20deg);
  border: 4px solid black;

  box-shadow: 0 0 0 4px white;
}

.page-header a {
  color: #fff;
  text-decoration: none;
}

.page-header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.page-header nav a {
  padding: 0 12px;
  /* margin-right: 5px; */
}
.page-header nav a:hover {
  background-color: green;
}

.page-header b:before {
  content: "|";
  font-size: 1.3rem;
  line-height: 6px;
  margin: 0 8px;
}

.page-header form {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

#authEmail,
#authPassword {
  width: 9rem;
  margin: 0 3px;
}

.log-in-btn {
  font-size: 1rem;
  line-height: 20.5px;
  padding: 0 12px;
  margin-left: 3px;
  border-radius: 3px;
}

/* Landing Page ----------------------------------- */
.landing-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: #555555;
  background-image: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/patrick-fore-381200-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
}

/* Writer Page ------------------------------------ */
#notepad {
  width: 40vw;
  height: 40vh;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rhyme-box,
.synonym-box {
  width: 45%;
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
}

.strong {
  font-weight: 500;
}

/* Show Poem Page --------------------------------- */
.title-bar {
  padding: 10px 8%;
}
