<!-- Shows all poems, //filter out unpublished -->
<header>
  <div class="container title-bar">
    <h2>Published Poems:</h2>
  </div>
</header>

<div class="home-page">
  <main class="container main ">
    <% if(poems) { %>
    <!--  -->
    <% poems.forEach(poem=> { %>
    <h3>
      <a class="type" href="/poems/<%=poem.id %>"><%= poem.title %></a> by
      <a class="highlight" href="/users/<%=poem.user.id %>"><%= poem.user.name %></a>
    </h3>
    <% }); %>
    <!--  -->
    <%} %>
  </main>
</div>