<!-- Shows all poems, //filter out unpublished -->

<a href="/poems/new">New Poem</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<h2>All poems</h2>
<% if(poems) { %>
<!--  -->
<% poems.forEach(poem=> { %>
<h3><%= poem.title %> by <%= poem.user.name %></h3>
<% }); %>
<!--  -->
<%} %>
