<!-- Shows all poems, //filter out unpublished -->

<h2>All poems</h2>
<% if(poems) { %>
<!--  -->
<% poems.forEach(poem=> { %>
<h3><%= poem.title %> by <%= poem.user.name %></h3>
<% }); %>
<!--  -->
<%} %>
