<!-- Shows all poems, //filter out unpublished -->

<h2>All poems</h2>
<% if(poems) { %>
<!--  -->
<% poems.forEach(poem=> { %>
<h3>
  <a href="/poems/<%=poem.id %>"><%= poem.title %></a> by
  <a href="/users/<%=poem.user.id %>"><%= poem.user.name %></a>
</h3>
<% }); %>
<!--  -->
<%} %>
