<!-- Show all categories -->
<main class="category main">

  <% categories.forEach(category => { %>
  <h3>
    <a href="/categories/<%= category.id %>"><%= category.name %></a>
  </h3>
  <% }); %>
</main>