<!-- Show All Poems in one category -->
<header>
  <div class="container title-bar">
    <h2><%= category.name %></h2>
  </div>
</header>

<main class="container main">
  <% poems.forEach(poem => { %>

  <h3>
    <a href="/poems/<%= poem.id %>"><%= poem.title %></a>
  </h3>

  <% }); %>
</main>