<!-- Poem Writer Page -->
<main class="container main">
  <form action="/poems" method="POST" class="writer-form">
    <h2><span class="cursive">Pluma</span><span class="type-font">/writer</span></h2>
    <!-- title -->
    <% if(currentUser){ %>
    <input class="input-title" type="text" name="title" placeholder="Title" autocomplete="off" /><br />
    <% } %>
    <!-- content -->
    <textarea name="content" id="newPad" class="notepad type-font"></textarea>
    <!-- Show publish, submit if logged in -->
    <% if(currentUser){ %>
    <div class="writer-options">
      <div class="group category-box">
        <input type="text" name="category" placeholder="Categories" />
      </div>

      <div class="group publish-box">
        <label for="isPublished">Publish poem?</label>
        <input type="checkbox" name="isPublished" />
      </div>

      <button class="create-btn" type="submit">Create!</button>
    </div>
    <%} else { %>
    <div class="writer-options">
      <p><em>Sign up or Log In to save your poem</em></p>
    </div>
    <% } %>

  </form>

  <!-- <% include ../partials/wordViz %> -->
  <!-- Writer Tools -->
  <% include ../partials/writerTools %>
</main>