<!-- Other user's profile -->
<header>
  <div class="container title-bar">
    <h2>Poems by <%= poems[0].user.name %>:</h2>
  </div>
</header>
<main class="container main">

  <% poems.forEach(poem => { %>
  <div>
    <h3>
      <a class="type" href="/poems/<%=poem.id%>"><%=poem.title%></a>
    </h3>
  </div>

  <% }); %>
</main>